/* CONFIGURAÇÕES GERAIS */
:root {
    --dark-purple: #1E1E26;
    --purple: #352C73;
    --light-purple: #4B39BF;
    --green: #0FF25E;
}

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html, body, main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

body { 
    font: 13px Helvetica, Arial; 
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
}

#show-typing {
    position: absolute;
    top: 10px;
    left: 15px;
    min-width: 200px;
    padding: 7px 10px;
    background: var(--green);
    display: none;
    z-index: 10;
}


/* APRESENTAÇÃO DAS MENSAGENS */
#div-chat {
    background-color: var(--dark-purple);
    flex: 1 1 0;
    order: 1;
    overflow: auto;
    scrollbar-width: none;  /* remove a scrollbar no Firefox*/
}

#div-chat::-webkit-scrollbar {
    display: none;
}

#messages { 
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0; 
    padding: 0; 
}

#messages li {
    margin: 10px 25px;
}

#messages li.message { 
    padding: 5px 10px;
    min-width: 200px;
    max-width: 45%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#messages li.message .message-author {
    font-weight: bold;
}

#messages li.message .message-content {
    font-style: italic;
}

#messages li.message .message-time {
    align-self: flex-end;
    font-size: 0.8em;
}

#messages li.received-message {
    background-color: var(--light-purple);
    align-self: flex-start;
    color: #fff;
}

#messages li.received-message::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid var(--light-purple);
    border-top: 7px solid var(--light-purple);
    border-bottom: 7px solid transparent;
    left: -14px;
    top: 0;
}

#messages li.my-message {
    background: var(--purple);
    align-self: flex-end;
    color: #fff;
}

#messages li.my-message::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 7px solid var(--purple);
    border-right: 7px solid transparent;
    border-top: 7px solid var(--purple);
    border-bottom: 7px solid transparent;
    right: -14px;
    top: 0;
}

#messages li.user-logged {
    background: #5B66A655;
    text-align: center;
    color: #fff;
    align-self: center;
    padding: 7px;
    min-width: 50%;
    border-radius: 5px;
    border: 1px solid #5B66A6;
}

#messages li.user-disconnected {
    background: #A6313155;
    text-align: center;
    color: #fff;
    align-self: center;
    padding: 7px;
    min-width: 50%;
    border-radius: 5px;
    border: 1px solid #A63131;
}



/* FORMULÁRIO DE ENVIO DE MENSAGEM */
#form-message { 
    background: var(--purple); 
    box-shadow: 0 0 10px var(--dark-purple);
    width: 100%;
    display: flex;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    order: 2;
    z-index: 5;
}

#form-message div {
    background-color: #ddd;
    padding: 10px;
    width: 90%; 
    margin-right: 0.5%;
    border-radius: 8px;
}

#form-message span { 
    background-color: transparent;
    border: 0;
    width: 100%;
    display: inline-block;
    min-height: 16px;
    max-height: 100px;
    overflow: auto;
}

#form-message span:empty:before {
    content: attr(placeholder);
    color: #555; 
}

#form-message span[placeholder]:empty:focus:before {
    content: "";
}

#form-message button { 
    width: 9%; 
    background: var(--dark-purple);
    color: #ddd;
    border: none; 
    padding: 10px;
    border-radius: 5px;
}



/* MODAL */
#modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000a;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
}

#modal-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--light-purple);
    width: 50%;
    height: 35%;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
}



/* FORMULÁRIO DE ESCOLHA DE username */
#form-username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#form-username label {
    font-size: 2em;
    margin-bottom: 30px;
    text-shadow: 0 0 2px #fff5;
    color: var(--dark-purple);
    font-weight: bold;
}

#form-username input {
    width: 80%;
    margin-bottom: 15px;
    font-size: 1.3em;
    padding: 5px 12px;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    box-shadow: 0 0 2px #0007;
}

#form-username button {
    width: 200px;
    color: #fff;
    border: none;
    background: var(--dark-purple);
    padding: 10px;
    cursor: pointer;
}